body{
    height: 100%;
    background-color: #000;
}
#home{
    height: 100vh;
    
    /* border-radius: 12px; */
}

#menu{
    border: white 1px solid;
    border-radius: 5px;
}

#logo-site{
    text-transform: uppercase;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#home-nav, #port-nav, #sobre-nav, #contato-nav{
    font-size: 15px;
}





#logo-site{
    font-size: 25px;
}


#info{
    /* padding-top: 200px; */
    height: 100%;
}
#dev{
    font-size: 45px;
    color: #f5fffb;
    /* color: white; */
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

#cargo{
    color: #f5fffb;
    text-align: center;
    font-family: 'Poppins', sans-serif;



}

#laptop{
    color: #f5fffb;    
    text-align: center;
}


.linkedin, .git{
    color: white;
}
.linkedin:hover, .git:hover{
    color: #1DE9B6;

}

#conheca{
    border-radius: 35px;
    width: 200px;
    height: 45px;
    background-color:transparent;
    border: 1px white solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* border: none; */
    font-size: 15px;
    font-family: 'Open Sans Condensed', sans-serif;

}

#conheca:hover{
    background-color: transparent;
    border: 1px white solid;
}

#name, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

span{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    
}

/* @keyframes example{
    from{color: white;}
    to{color: red;}
} */

/* #logo-site:hover{
    color: #26b0d5;
} */


